:root {
    --background--color: #FFD923;
    --primary--color: #AC3382;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body style */
html,
body {
    font-family: "Open Sans regular",  sans-serif;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: .4rem;
    overflow: none;
}

.container a {
    position: relative;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.25s;
}



.container a::before {
    content: '';
    border: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;

    /* From https://uigradients.com/#Alihossein */
    background: #f7ff00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #db36a4, #f7ff00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #db36a4, #f7ff00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: .75rem;
    transform-origin: left;
    transition: 0.5s;
}

.container a:hover:before {
    width: 100%;
    border-radius: .75rem;

}

/* header style */
.app-header {
    box-shadow: 0.3rem .3rem 1rem var(--background--color);

}

.app-header .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 0.75rem;
}

.app-header .logo {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
}

/* coverpage style */
.coverPage{
    background-color: var(--background--color);
     height: calc(100vh);

}
.coverPage .content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .coverPage .content h2 {
    color: var(--primary--color);
    font-size: 3rem;
    margin-top: 20%;
    margin-bottom: 10%;
    font-weight: 500;
    font-family: Garamond, serif;
  }
  .coverPage a {
    width: 50%;
    font-size: 1.5rem;
    position: relative;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.25s;
    margin-bottom: 30%;
}
  .coverPage a {
    width: 10rem;
    font-size: 1.5rem;
    position: relative;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.25s;
    margin-top: 3rem;
    margin-bottom: 10rem;
}
.coverPage a::before {
    content: '';
    border: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;

    /* From https://uigradients.com/#Alihossein */
    background: #f7ff00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #db36a4, #f7ff00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #db36a4, #f7ff00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: .75rem;
    transform-origin: left;
    transition: 0.5s;
}

.coverPage a:hover:before {
    width: 100%;
    border-radius: .75rem;

}


.subheader {
    background-color: var(--background--color);
    color: #fff;
    box-shadow: 0.2rem 0.2rem 0.6rem #888;
    margin: 1rem auto 0.1rem auto;
    width: 95%;
    font-size: 0.6rem;
    padding: 0.6rem;

}

h1 {
    text-align: center;
    margin: 0.1rem auto rem auto;

}

h2 {
    color: #444;
    text-align: center;
    margin: 1rem auto 0.1rem auto;
}

h2 span {
    color: var(--primary--color);
    display: none;
}


/* grid style */
.grid {
    display: grid;
    grid-gap: 0.6rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid .item {
    display: flex;
    border-radius: 0.2rem;
    flex-direction: column;
    border: 0.2rem #ccc solid;
    padding: 0.6rem;
    box-shadow: 1% 1% 1% 1% #ccc;
    border-radius: 4% 4% 4% 4%;
}



.grid .item h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    color: var(--primary--color);
}

.grid .item p {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.grid .item img {
    width: 25%;
    align-self: flex-end;
}

.grid .item .circle-image {
    width: 50%;
    align-self: center;
    border-radius: 100%;
}

.grid .item .d-shape-image {
    width: 70%;
    align-self: center;
    border-radius: 0 40% 30% 0;
}






/* swiper style */

@media(min-width:45rem) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid .item img {
        width: 5rem;
    }
}


.swiper-container {
    width: 20rem;
    height: 20rem;
    /* margin-left: -15rem;
    margin-bottom: -15rem; */
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}